<!-- footer -->
<div id="footer" class="footer wrapper" style="background-color: #081726;">
    <div class="row align-items-start justify-content-between">
        <div class="col-lg-5">
            <b style="color: #097051;">About Us</b>
            <hr>
            <p style="color:#fff;">The (ISC)² UAE Chapter aims to strengthen the information security professional
                community through collaboration, education, networking and mentoring. Our chapter aims to provides
                (ISC)2 members and nonmembers alike an opportunity to share knowledge, grow professionally, raise
                security awareness and advance information security in local communities within UAE.</p>
        </div>
        <div class=" col-lg-3">
            <b style="color: #097051;">Recent Events</b>
            <hr>
            <ul type="disc">
                <% if (recentEvents && recentEvents.length> 0) { %>
                    <% recentEvents.forEach(event=> { %>

                        <li style="color: #081726;">
                            <a href="/events/<%= event._id %>" style="color: white;">
                                <strong>
                                    <%= event.eventName %>
                                </strong>
                                - <%= new Date(event.eventDateTime).toLocaleDateString("en-IN", {
                                    timeZone: "Asia/Kolkata" }) %>
                            </a>
                        </li>

                        <% }) %>
                            <% } else { %>
                                <li style="color: white;">No recent events available.</li>
                                <% } %>
            </ul>
        </div>

        <div class="col-lg-3">
            <b style="color: #097051;">Useful Pages</b>
            <hr>
            <ul>
                <li class="mb-3"><a href="/" style="color: white;">Home</a></li>

                <li class="mb-3"><a href="/about" style="color: white;">About</a></li>

                <li class="mb-3"><a href="/membership" style="color: white;">Membership</a></li>

                <li class="mb-3"><a href="/events" style="color: white;">Events</a></li>

                <li class="mb-3"><a href="/contact" style="color: white;">Contact</a></li>

            </ul>
        </div>

        <!-- <div class="col-lg-2">
            <b style="color: #097051;">Contact Information</b><br>
            <hr>
            <a href="https://www.isc2chapter-liny.org" style="color: white;">www.isc2chapter-liny.org</a>
        </div> -->

        <!-- <div class="col">
            <b style="color: #097051;">Recent Posts</b>
            <hr>
            <ul>
                <li><a href="#" style="color: white;">(ISC)2 NY Holds 3rd Annual CTF Event!</a></li>
                <hr>
                <li><a href="#" style="color: white;">Let's Capture The Flag!</a></li>
                <hr>
                <li><a href="#" style="color: white;">Security Awareness - Creative Techniques and Tools</a></li>
                <hr>
                <li><a href="#" style="color: white;">Security Operations Briefing and Panel Discussion</a></li>
                <hr>
                <li><a href="#" style="color: white;">Proactive Defense in Lieu of Panicked Response</a></li>
                <hr>
            </ul>
        </div> -->
    </div>
</div>