<%- include("partials/header") -%>

  <div id="about_header" class="wrapper text-center header">
    <h1>About</h1>
  </div>
  <div id="mission" class="wrapper">
    <h2>Our Mission</h2>
    <p>
      To initiate and develop a vibrant chapter of Information Security and
      Technology professionals, affording our members the opportunity to
      network and educate themselves while enriching the surrounding
      communities.
    </p>
  </div>
  <div style="background-color: #c3e5f4" id="board_members" class="wrapper text-center">
    <b>
      <h1>Meet our board members</h1>
    </b>
    <div class="member-row row">
      <div class="col">
        <div class="card common">
          <img src="/P1070850-e1566858699775.jpg" class="card-img-top" alt="Bill London" />

          <div class="card-body">
            <h5 style="color: #5ead55">PRESIDENT EMERITUS</h5>
            <h3>Bill London</h3>
            <h6>CISSP</h6>
            <div class="row mt-2 social_icons">
              <div class="col">
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
              </div>
              <div class="col">
                <a href=""><i class="fa-brands fa-square-twitter"></i></a>
              </div>
              <div class="col">
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card common">
          <img src="/headshot-scaled.jpg" class="card-img-top" alt="Isaac Salles" />

          <div class="card-body">
            <h5 style="color: #5ead55">MEMBERSHIP</h5>
            <h3>Isaac Salles</h3>
            <h6>CISSP, CCSP</h6>
            <div class="row social_icons">
              <div class="col">
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
              </div>
              <div class="col">
                <a href=""><i class="fa-brands fa-square-twitter"></i></a>
              </div>
              <div class="col">
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card common">
          <img src="/Headshot-1-e1566858326389.jpg" class="card-img-top" alt="Mike Gluckman" />

          <div class="card-body">
            <h5 style="color: #5ead55">PRESIDENT</h5>
            <h3>Mike Gluckman</h3>
            <h6>CISSP</h6>
            <div class="row social_icons">
              <div class="col">
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
              </div>
              <div class="col">
                <a href=""><i class="fa-brands fa-square-twitter"></i></a>
              </div>
              <div class="col">
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card common">
          <img class="card-img-top" src="/Schaefer_Dennis-e1566870946628.jpg" alt="Schaefer_Dennis-e1566870946628" />

          <div class="card-body">
            <h5 style="color: #5ead55">TREASURER</h5>
            <h3>Schaefer Dennis</h3>
            <h6>CISSP, CISA</h6>
            <div class="row social_icons">
              <div class="col">
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
              </div>
              <div class="col">
                <a href=""><i class="fa-brands fa-square-twitter"></i></a>
              </div>
              <div class="col">
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="member-row row">
      <div class="col">
        <div class="card common">
          <img class="card-img-top" src="/mikefarinaccio2.png" alt="Michael Farinaccio" />

          <div class="card-body">
            <h5 style="color: #5ead55">SECRETARY</h5>
            <h3>Michael Farinaccio</h3>
            <h6>CISSP</h6>
            <div class="row social_icons">
              <div class="col">
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
              </div>
              <div class="col">
                <a href=""><i class="fa-brands fa-square-twitter"></i></a>
              </div>
              <div class="col">
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card common">
          <img class="card-img-top" src="/marvstein.jpg" alt="Marv Stein" />
          <div class="card-body">
            <h5 style="color: #5ead55">VICE PRESIDENT</h5>
            <h3>Marv Stein</h3>
            <h6>CISSP</h6>
            <div class="row social_icons">
              <div class="col">
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
              </div>
              <div class="col">
                <a href=""><i class="fa-brands fa-square-twitter"></i></a>
              </div>
              <div class="col">
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card common">
          <img class="card-img-top" src="/IMG_6393.jpg" alt="Michael Nizich" />

          <div class="card-body">
            <h5 style="color: #5ead55">DIRECTOR</h5>
            <h3>Michael Nizich</h3>
            <h6>PhD, CISSP</h6>
            <div class="row social_icons">
              <div class="col">
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
              </div>
              <div class="col">
                <a href=""><i class="fa-brands fa-square-twitter"></i></a>
              </div>
              <div class="col">
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card common">
          <img class="card-img-top" src="/Linked-In-Gray-Redone-2-e1638236711345.jpg"
            alt="Linked-In-Gray-Redone-2-e1638236711345" />

          <div class="card-body">
            <h5 style="color: #5ead55">DIRECTOR</h5>
            <h3>Amrik S Mikko</h3>
            <h6>MBA, PMP, CISSP</h6>
            <div class="row social_icons">
              <div class="col">
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
              </div>
              <div class="col">
                <a href=""><i class="fa-brands fa-square-twitter"></i></a>
              </div>
              <div class="col">
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="Other_commities wrapper">
    <div id="heading">
      <h2 class="level-2">Other Committees</h2>
    </div>
    <div class="row">
      <div class="col subject">
        <h3>Education</h3>
        <ul>
          <li>Susan Frank</li>
          <li>Anne Kimmins</li>
          <li>Amrik Mikko</li>
          <li>Anand Mohabir</li>
          <li>Michael Nizich</li>
        </ul>
      </div>
      <div class="col subject">
        <h3>Events</h3>
        <ul>
          <li>Don Becker</li>
          <li>Michael Gluckman</li>
          <li>Vito Sparacio</li>
          <li>Rob Rothstein</li>
        </ul>
      </div>
    </div>
  </div>



  <%- include("partials/footer", { recentEvents: (typeof recentEvents !=='undefined' ) ? recentEvents : [] }) -%>