<%- include("partials/header") -%>

  <div id="home_header" class="wrapper text-center header">
    <h1>Welcome to (ISC)² UAE Chapter</h1>
  </div>
  <div class="sponsors_memberships wrapper">
    <div class="row myrow">
      <div class="col-lg-8 content_box">
        <h4>Our Mission</h4>
        <p>
          To initiate and develop a vibrant chapter of Information Security
          and Technology professionals, affording our members the opportunity
          to network and educate themselves while enriching the surrounding
          communities.
        </p>
      </div>
      <div class="col-lg-4 img_box">
        <h2><a href="" class="text-dark">Want to become a sponsor?</a></h2>
      </div>
    </div>
    <div class="row mt-5 row_alt">
      <div class="col-lg-8 content_box">
        <h4>Interested In Membership</h4>
        <p>
          If you are interested in joining our chapter please visit our
          membership page. If you are a student, please use this page. If you
          would like more information before joining feel free to reach us via
          the contact page.
        </p>
      </div>
      <div class="col-lg-4 img_box">
        <h2>
          <a href="" class="text-light">Interested in speaking opportunities?</a>
        </h2>
      </div>
    </div>
  </div>
  <div class="fact wrapper">
    <h4 style="color: white">Interesting Facts</h4>
    <br />
    <div class="row">
      <div class="col-lg-4">
        <h3 style="color: #4fc99a; font-size: 4rem">100+</h3>
        <h4 style="color: #4fc99a">Proud Members</h4>
      </div>
      <div class="col-lg-4">
        <h3 style="color: #4ac6d6; font-size: 4rem">1000+</h3>
        <h4 style="color: #4ac6d6">Years of total experience</h4>
      </div>
      <div class="col-lg-4">
        <h3 style="color: #f48fb1; font-size: 4rem">1</h3>
        <h4 style="color: #f48fb1">Mission</h4>
      </div>
    </div>
  </div>
  <!-- <div class="scholar wrapper">
    <h2 style="font-size: 3rem">Cybersecurity Scholarship Award 2022!</h2>
    <br />
    <p>
      The (ISC)2 Chapter will be awarding two $1000 scholarships
      for the Fall 2022 semester. These are limited to undergrad or graduate
      level<br />
      students from and/or attending school on  . You can access the
      application by clicking the button below.
    </p>
    <button class="apply_button btn-lg">
      Click Here to Apply - Deadline July 1, 2022
    </button>
  </div> -->
  <!-- <div class="blank"></div> -->
  <!-- Owl Carousel -->
  <div class="carousel_1 wrapper">
    <h4>Our Sponsors and Partners</h4>
    <img src="/huawie.png" alt="huawie" />
  </div>

  <%- include("partials/footer", { recentEvents: (typeof recentEvents !=='undefined' ) ? recentEvents : [] }) -%>