<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Scholarship Winners</title>
  <!-- BootStrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
  <!-- FONTAWESOME CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  <!-- CSS -->
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light navi">
    <a class="navbar-brand" href="//">
      <img src="/logo.png" class="logo-image" alt="" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="membership.html" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Membership
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="student_members.html">Student Members</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Events
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Events Pictures and Notes</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Committees
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/education-committee.html">Education</a>
            <a class="dropdown-item" href="/scholarship_winners.html">
              Scholarship Winners</a>
            <a class="dropdown-item" href="/hack_a_thon_capture_the_flag.html">Hack-A-Thon / Catch The Flag</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sponsership.html">Sponsorship</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="scholar_win wrapper">
    <h1>Scholarship Winners</h1>
    <br />
    <div class="row">
      <div class="col">
        <h2>
          Current Year:<br />
          Pending
        </h2>
      </div>
      <div class="col">
        <p>
          <a href="" class="alert-success">Applications are pending for the current year, 2023<br />
            please visit the Education Committee sections for <br />more
            information.</a>
        </p>
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
      <div class="col">
        <h2>Past Winners:</h2>
      </div>
      <div class="col">
        <h2>Cybersecurity Scholarship Award 2022!</h2>
        <br /><br />
        <p>
          The (ISC)2 Long Island Chapter has awarded two $500<br />
          scholarships for the Spring 2022 semester to
          <a href="" class="text-dark">Jobeda<br />
            Khanam and Oleksandra (Sasha) Dalaya</a>, both from<br />
          Suffolk County Community College.
        </p>
      </div>
    </div>
  </div>
  <div class="footer wrapper" style="background-color: #081726;">
    <div class="row">
      <div class="col">
        <a href=""><i class="fa-solid fa-square-rss" style="color: #ff7300;"></i></a>&nbsp;<b><a href=""
            style="color: white;">Feeds</a></b>
        <hr>
        <ul>
          <li style="color: #081726;"><a href="" style="color: white;">Student Loan Breach Exposes 2.5M<br> Records</a>
          </li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Watering Hole Attacks Push ScanBox
              <br>Keylogger</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Tentacles of `0ktapus' Threat Group<br> Victimize
              130 Firms</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Ransomware Attacks are on the Rise</a></li>
          <hr>
        </ul>
      </div>
      <div class="col">
        <b style="color: #097051;">Useful Pages</b>
        <hr>
        <ul>
          <li style="color: #081726;"><a href="" style="color: white;">Home</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">About</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Membership</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Events</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Blog</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Contact</a></li>
          <hr>
        </ul>
      </div>
      <div class="col">
        <b style="color: #097051;">Contact Information</b><br>
        <hr>
        <a href="" style="color: white;">www.isc2chapter-liny.org</a>
      </div>
      <div class="col">
        <b style="color: #097051;">Recent Posts</b>
        <hr>
        <ul>
          <li style="color: #081726;"><a href="" style="color: white;">(ISC)2 Long Island NY Holds 3rd Annual<br> CTF
              Event!</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Let's Capture The Flag!</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Security Awareness - Creative<br> Techniques and
              Tools</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Security Operations Briefing and Panel<br>
              Discussion: Current Realities and The<br> Strategic Landscape</a></li>
          <hr>
          <li style="color: #081726;"><a href="" style="color: white;">Meeting - Proactive Defense in Lieu of<br>
              Panicked Response</a></li>
          <hr>

        </ul>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
</body>

</html>