<%- include("partials/header") -%>
  <div id="sponsership_header" class="wrapper text-center header">
    <h1>SPONSORSHIP</h1>
  </div>

  <div class="info wrapper">
    <div class="row">
      <div class="col txt_bx">
        <p>
          The (ISC)² , UAE Chapter is dedicated to the
          advancement of the information security profession, affording our
          members the opportunity to network and educate themselves while
          enriching the surrounding communities.
          <br />
          <br />
          Becoming a sponsor of the (ISC)² , UAE Chapter shows
          that your organization supports the advancement of the information
          security profession. Becoming a sponsor will also create brand
          recognition with our professional members and provide another avenue
          for recruitment of skilled candidates.
          <br />
          <br />
          Sponsorship of the (ISC)² , UAE Chapter entitles
          your organization to the benefits outlined here unless other
          agreements have been made. The sponsorship period runs for one year
          from the time of sign-up. This Sponsorship Plan is referred to in
          the
          <b><a href="" class="text-danger">(ISC)2 Chapter Sponsorship Agreement.</a></b>
          <br />
          <br />
          If you are interested in becoming a sponsor, please use the form
          below or contact us here.
        </p>
      </div>
      <div class="col pic">
        <h5 class="heading-5">Prospectus</h5>
        <a href=""><img src="/ISC2-LINY-PROSPECTUS.png" alt="" /></a>
      </div>
    </div>
  </div>
  <div class="requirment wrapper">
    <h4 class="heading-4">Requirements</h4>
    <br />
    <p class="para">
      Sponsors of (ISC)² , UAE Chapter must agree to and
      comply with the following conditions. All sponsorships are subject to
      the (ISC)2 , UAE Chapter Board of Directors (BOD)
      approval. This program only applies to the (ISC)² , UAE
      Chapter, and provides no benefits at (ISC)2 or to direct benefits at
      other (ISC)² regional chapters.
    </p>
    <ul class="all">
      <li>
        All sponsorships must comply with the (ISC)2 , UAE
        Chapter mission and should focus on improving the professional
        knowledge of information security practitioners.
      </li>
      <br />
      <li>
        (ISC)2 , UAE Chapter actively enforces a
        non-aggressive marketing policy. (ISC)2 , UAE Chapter
        membership attends (ISC)2 Chapter, UAE events
        regularly for education, information, and professional networking, not
        to be subjected to aggressive marketing tactics.
      </li>
      <br />
      <li>
        “Negative campaigning” against competitors is not permitted. We aim to
        foster a professional atmosphere among members and interested parties
        with the intention of enhancing member recruitment and retention.
      </li>
    </ul>
  </div>

  <!-- <div class="benefits_summary wrapper">
  <table class="table-container">
    <tr>
      <th>Benefit</th>
      <th>Bronze</th>
      <th>Silver</th>
      <th>Gold</th>
      <th>Platinum</th>
    </tr>
    <tr>
      <td class="benefit">
        Sponsor will be listed on the (ISC)² Chapter website for
        one year (listing priority based on sponsorship level).
      </td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td class="benefit">
        Sponsor will be recognized at monthly membership meetings via a
        continuous loop introduction slide show (listing is priority based
        on sponsorship level).
      </td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr class="highlight">
      <td class="benefit">
            
            Sponsor will have (ISC)² Chapter membership status.
            Membership status is not to be shared or changed during the
            sponsorship period except due to hardship and is subject to
            approval.
          </td>
          <td>1 Member</td>
          <td><span>2 Members</span></td>
          <td>3 Members</td>
          <td><span>4 Members</span></td>
        </tr>
        <tr>
          <td class="benefit">
            Sponsor will have the opportunity to present their company at one
            (ISC)² Chapter meeting.
          </td>
          <td>No</td>
          <td><span>1 Minute</span></td>
          <td>2 Minutes</td>
          <td><span>4 Minutes</span></td>
        </tr>
        <tr class="highlight">
          <td class="benefit">
            Sponsor will have the opportunity to man a table, solicit attendee
            contacts, distribute marketing materials, conduct raffles, etc.
          </td>
          <td>Once per year</td>
          <td><span>Twice per year</span></td>
          <td>Three times per year</td>
          <td><span>Four times per year</span></td>
        </tr>
        <tr>
          <td class="benefit">
            Sponsor will have the opportunity to host/co-host an event by
            providing a speaker on a relevant industry topic (subject to
            approval).
          </td>
          <td>No</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr class="highlight">
          <td class="benefit">
            New sponsorship announcements will be mentioned on (ISC)² Long
            Island Chapter member emails.
          </td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td class="benefit">
            Sponsor may invite guests (clients, Sponsor personnel, or others) to
            (ISC)² Chapter monthly membership meeting.
          </td>
          <td>No</td>
          <td><span>One (1) Per Meeting</span></td>
          <td>Two (2) Per Meeting</td>
          <td><span>Three (3) Per Meeting</span></td>
        </tr>
        <tr class="highlight">
          <td class="benefit">
            Sponsor will have a link to their jobs/career section on the (ISC)²
            Chapter website.
          </td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td class="benefit">
            Sponsor will have the opportunity to have one (1)
            offer/promotion/co-hosting event notification sent on their behalf
            to the (ISC)² Chapter membership list, by the (ISC)²
            Chapter BOD.
          </td>
          <td>No</td>
          <td>No</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr class="highlight">
          <td class="benefit">
            Sponsor will receive a plaque from (ISC)² Chapter
            indicating the greatly appreciated support of (ISC)²  
            Chapter and the Information Security community at large presented at
            a meeting.
          </td>
          <td>No</td>
          <td>No</td>
          <td>No</td>
          <td><span>Yes</span></td>
        </tr>
        <tr>
          <th>Annual Sponsorship Cost</th>
          <td>$500</td>
          <td>$750</td>
          <td>$1,250</td>
          <td>$2,000</td>
        </tr>
      </table>
    </div> -->
  <div class="sponsorship-level wrapper">
    <h4>Need More Information? <a href="/contact" class="bg-primary text-light p-2">Contact Us</a> Now.</h4>
  </div>



  <div class="wrapper" id="sponsorshipForm">

    <h2>Become a Sponsor</h2>

    <form action="/sponsorship" method="post">
      <div class="form-group">
      </div>
      <div class="form-group">
        <input type="text" name="company_name" class="form-control" placeholder="Company Name">
      </div>
      <div class="form-group">
        <input type="text" name="company_email" class="form-control" placeholder="Company Email">
      </div>
      <div class="form-group">
        <input type="text" name="subject" class="form-control" placeholder="Subject">
      </div>
      <div class="form-group">
        <input type="text" name="message" class="form-control" placeholder="Message">
      </div>

      <button class="btn btn-success">
        Send Message
      </button>

    </form>
  </div>


  <%- include("partials/footer", { recentEvents: (typeof recentEvents !=='undefined' ) ? recentEvents : [] }) -%>